.file-drop
  border 3px dashed orange52
  padding b1*1.5
  width 100%
  text-align center
  span
    font-size 1.2
    color neutral13

  &.over-zone
    background-color orange51
    border-color orange53
    
.upload-progress-info
  color neutral13