.file-drop
  border 3px dashed orange52
  padding b1*1.5
  width 100%
  text-align center

  &.over-zone
    background-color orange51
    border-color orange53

.file-drop > span
  font-size 1.2
  color neutral13

.upload-progress-info
  color neutral13