// styles

.permission-auth
  margin-bottom f1

.permission-auth-username
  font-line 1.5

  &:link,
  &:visited
    color inherit

  &:hover
    color gray

.permission-auth-email
  color pale
  margin-left f4

.permission-auth-heading
  font-weight bold
  color neutral12
  padding-top f2
  .icon
    float right
    margin-top f2

.permission-auth-pending
  border-radius b8
  background-color yellow51
  padding-left b8
  padding-right b8
  margin-left f4
  display inline
  vertical-align top
  font-size 0.8em

.permission-heading
  margin-bottom 10px
  .remove
    margin 3px 3px 0 0

.permission-auth-warning
  margin-left b1
  display block
  line-height 1

