  .ui-slider
    position relative
  .ui-slider-horizontal
    height b2
    border neutral53 solid 1px
  .ui-slider-range
    height 10px
  .ui-widget-content
    background-color white
    color #333
  .ui-widget-header
    background #ccc
  .ui-slider-range
    position absolute
    top 0px
    z-index 1
    font-size 0.7em
    display inline-block
    border 0
    background-color neutral52
  .ui-slider-handle
    position absolute
    border 1px neutral13 solid
    background-color neutral
    width 6px
    height 16px
    margin-left -3px
    margin-top -3px
    z-index 2
    transition none

  .slider-right-label
    float right