// styles

.view
  margin-bottom 2

.view-context
  margin-top 1
  font-line 1.5 1
  color gray

.view-title
  font-line 2 1.75
  margin-top 0
  margin-bottom 1
  span.icon.button
  	margin-left b3

.view-link
  display inline-block
  margin-top 0.5

  &:before
    content '< '

.view-center-block
  max-width 100%
  width max-content
  margin-left auto
  margin-right auto
  text-align center