.activity > li
  &:nth-child(even)
    background-color neutral51
  &:nth-child(odd)
    background-color neutral53
  
  dl > dt, dl > dd
    display inline-block
    
  dl, dt
    display inline-block
  
  dd
    margin-width b3
    
.activity-timestamp
  float right
  
.activity-old
  color red
  
.activity-new
  color green
