.activity
  padding-left 0
.activity > li
  padding b3
  vertical-align middle
  &:nth-child(even)
    background-color white
  &:nth-child(odd)
    background-color neutral51
  
  dl > dt, dl > dd
    display inline-block
    
  dl, dt
    display inline-block
    margin 0
  
  dd
    margin-width b3
  
  a.download.button
    vertical-align text-bottom
    margin-width b8
  a.download.button:not(:hover)
    background-color white
    
.activity-timestamp
  float right
  
.activity-old
  color red
  
.activity-new
  color blue

.activity-highlight
  padding b8
  border-radius b8
  border-width 2px
  border-style solid