<div id="errors" class="errors main" ng-if="page.display.error">
  <article class="view error-view">
    <div class="wrap">
      <div class="row">
        <div class="col">
          <div class="error-container error-message">
            <span ng-bind-html="::error.title"></span> 
            (<i ng-bind="::page.$location.url()"></i>)<br>
            <h5>
              <span ng-bind="::error.message"></span>
              <span ng-if="::(error.status === 404 || error.status === 403) && !page.models.Login.isLoggedIn()">, but first try logging in: </span>
            </h5>
          </div>
          <div class="error-container error-login" ng-if="::(error.status === 404 || error.status === 403) && !page.models.Login.isLoggedIn()">
            <div class="view-center-block">
              <login-form></login-form>
            </div>
          </div>
          <div class="error-container">
            <div class="view-center-block">
              <span>Some other options:</span>
              <ul>
                <li>Return to the <a ng-href="{{::page.router.index()}}">homepage</a></li>
                <li ng-if="::page.models.Login.isLoggedIn()">Go to <a ng-href="{{::page.router.profile()}}">your profile</a></li>
                <li>Check out our <a href="//databrary.org/access/guide.html">user guide</a></li>
                <li>Need help? Feel free to <a href="//databrary.org/about/support.html">contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
