.error-container
  padding-top b1
  padding-bottom b1
  border-bottom 3px solid green51
  margin-left -2%
  margin-right -2%
  @media screen and (min-width:grid-mobile-width+1) and (max-width:grid-tablet-width)
    margin-left -4%
    margin-right -4%
  @media screen and (max-width:grid-mobile-width)
    margin-left -5%
    margin-right -5%
  
.error-view .col div:last-of-type
  border-bottom none

.error-login
  background-color neutral51

.error-message
  margin-top b1
  text-align center
  font-line b1 b1*1.5
  color orange13