<div id="errors" class="errors main" ng-if="page.display.error">
  <article class="view error-view">
    <div class="wrap">
      <div class="row">
        <hgroup class="col">
          <h1 class="panel-context" message="error.title"></h1>
          <h2 ng-if="::error.status != null" class="panel-title with-context" ng-bind-html="::error.message"></h2>
        </hgroup>

        <div class="col">
          <div ng-bind="page.$location.url()"></div>
          <div ng-if="::(error.status === 403 || error.status === 404) && !page.models.Login.isLoggedIn()">
            You might try logging in:
            <login-form></login-form>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
