.error-container
  padding-top b1
  padding-bottom b1
  border-bottom 3px solid green51
  margin-left -2%
  margin-right -2%
.error-section
  width max-content
  margin-left auto
  margin-right auto
  
.error-view .col div:last-of-type
  border-bottom none
  
.error-message
  margin-top b1
  text-align center
  font-line b1 b1*1.5
  color orange13