.home-logo
  margin 0
  margin-top 1
  @media screen and (min-width:grid-mobile-width+1)
    float left
  @media screen and (max-width:grid-mobile-width)
    text-align center
  a
    color black
    img
      width 260px
      height 51px
  div
    font-size 1.2em
    line-height 100%
    display block
    vertical-align middle
    margin-left 2
    margin-right 2

.home-panel
  margin-bottom 1
  box-shadow box-shadow-def
  border-top solid b3 green52

.home-feature-inner
  position relative
  background-color black

.home-feature-thumb
  width 100%
  max-width 720px
  display block
  margin-right auto
  margin-left auto
  margin-bottom 0

.home-section-text
  position relative
  background white
  padding f6 f3
  width 100%

.home-sections-title
  font-weight bold
  text-transform uppercase
  font-size b23
  line-height b23*1.2
  display inline-block
  padding-bottom b3
  .icon
    background-size b23 b23
    size b23
    margin-right b4

.home-feature-investigators
  font-size f90

  ul
    margin-top 0
    display inline-block

    li
      display inline-block

.home-supportad
  margin-left b1*2
  margin-right b1*2
  padding b23
  border-color orange52
  @media screen and (max-width: grid-tablet-width)
    font-size 0.8em
    line-height 1.2em
    margin-right 0
    margin-left 0

.home-tags
  overflow hidden
  ol
    padding 0
  @media screen and (min-width: grid-tablet-width+1)
    padding-left b1*2

.home-tags-item
  display block
  margin-bottom f2
  max-width 250px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  color black
  &:hover
    background-color neutral51

  &.keyword
    border 1px solid orange52

.home-bigbuttons
  background-color #2c3e51
  background linear-gradient(#2c3e51, #334)
  position relative
  width 100%
  margin-left 0
  margin-right 0
  margin-bottom b1*2
  padding 0
  div.bigbuttons-text
    position relative
    margin-right auto
    margin-left auto
    width 100%
    padding-top b1
    font-size b1
    line-height b1*1.5
    @media screen and (max-width: grid-tablet-width+1)
      font-size 20px
      line-height 30px
    p
      text-align center
      color neutral52
    a
      font-weight bold
      color green53
    a:hover
      color green52
    ul
      text-align center
    li
      margin-width b8
      text-align center
    li > *
      vertical-align middle
      text-align initial
    li > small
      color blue
    @media screen and (min-width: 1200px)
      hr
        display none

  .bigbuttons-container
    position relative
    margin-right auto
    margin-left auto
    width max-content
    text-align center //ie-only
    @media screen and (max-width: grid-mobile-width+1)
      width auto
      padding-top b3
      padding-bottom b3
    div.bigbutton
      text-align center
      position relative
      size 160px 160px
      margin b1
      padding b8
      padding-top b23
      border-radius b3
      background-color white
      display inline-table
      box-shadow 0px 3px 3px -3px black
      transition transition
      @media screen and (min-width: grid-mobile-width+1)
        border-top b3 solid white
        border-bottom b3 solid white
      @media screen and (min-width: grid-mobile-width+1) and (max-width: grid-tablet-width)
        margin-width b2
      @media screen and (max-width: grid-mobile-width)
        display block
        width 100%
        height auto
        border-radius 0
        padding b3
        margin 0px 0px 3px 0px
        box-shadow none
        border-collapse collapse
      .button-title
        display block
        font-weight 700
        a
          color green
        a:hover
          color green52
      p
        font-size f34
        line-height b23
        padding 0
        margin b4
        text-align center
      img
        height b1*2
    div.bigbutton:hover
      border-color orange53
      @media screen and (max-width: grid-mobile-width)
        background-color neutral51

.home-stats-num
  margin-left b8
  color orange53
  text-align right
  @media screen and (max-width: grid-tablet-width+1)
    font-size 0.8em

.home-activity
  dl.home-section-text
    width 100%
    dt
      float right
      margin-top b3
      font-weight normal
    dd
      margin-left 0
      margin-top b3
      border-bottom 1px pale solid
      p
        margin-bottom 0
        color grey
    dd.home-activity-volume
      padding-bottom b2
      .volume-name
        font-weight bold
      .volume-thumb
        margin-right b4
        margin-bottom b3
        width 2.3
        float left
      .volume-list-investigators
        ul
          padding-left 0