.notifications-header-section
  position relative
  .notification-header
    position relative
    float left
  .notification-actions
    position relative
    float right
  .notification-actions > .icon
    vertical-align text-bottom
    margin-left b3

.notification-items-container
  position relative

.notification-items
  overflow-y auto
  border-top dotted 1px black
  margin-width -b2
  margin-bottom b2
  clear both

.notification-item
  overflow hidden
  padding-right b3
  padding-left 29px
  text-indent -25px
  .date-time
    float right
  .trash.icon
    top b8
    margin-left 0
    margin-right b3