<article class="view search-view">
  <div class="wrap">
    <ng-form name="searchForm">
    <div class="row">
      <div class="col">
        <h1 class="panel-title smaller">
          <span>Search</span>
          <input class="search-input" type="search" ng-model="query" key-enter="search()"/>
        </h1>
      </div>
    </div>
    <div class="col-desktop-3 col-tablet-3 col-mobile-6">
      <div class="search-left-section" ng-if="::!!volumes">
        <legend>Volume filters</legend>
        <div class="search-volume-types search-filter">
          <div>
            <input id="volWSess" type="checkbox" ng-model="fields.container_top" ng-true-value="'false'" ng-false-value="undefined" ng-change="searchVolumes()"/>
            <label for="volWSess">Contains sessions</label>
          </div>
          <div class="search-filter-sub" ng-if="fields.container_top">
            <span>Data collected betweeen</span><br/>
            <div ui-slider="{range:true}" min="{{::years[0]}}" max="{{::years[1]}}" step="1" ng-model="fields.container_date"></div>
            <span ng-bind="fields.container_date[0]"></span>
            <span class="slider-right-label" ng-bind="fields.container_date[1]"></span>
          </div>
          <div>
            <input id="volWHighlights" type="checkbox" ng-model="fields.content_type" ng-true-value="'excerpt'" ng-false-value="undefined" ng-change="searchVolumes()"/>
            <label for="volWHighlights">Has highlights</label>
          </div>
        </div>
        <div class="search-filter">
          Contains data released for<br/>
          <input type="radio" ng-model="fields.release" ng-value="::undefined"     ng-change="searchVolumes()" id="anyRelease"><label for="anyRelease">No preference</label><br/>
          <input type="radio" ng-model="fields.release" value="EXCERPTS OR PUBLIC" ng-change="searchVolumes()" id="excerpt"><label for="excerpt">Presentation use <span class="icon release EXCERPTS" hint="release-EXCERPTS"></span></label><br/>
          <input type="radio" ng-model="fields.release" value="PUBLIC"             ng-change="searchVolumes()" id="public"><label for="public">Public use <span class="icon release PUBLIC" hint="release-PUBLIC"></span></label>
        </div>
        <div class="search-filter">
          Contains tag
          <input-completer input-name="tag" ng-model="fields.tag_name" completer="tagSearch($input)" ng-pattern="/^[a-zA-Z][a-zA-Z -]{1,30}[a-zA-Z]$/" submit="searchVolumes()"></input-completer>
        </div>
        <div class="search-filter">
          Contains files of type
          <select ng-model="fields.format_id" ng-options="'\\'+fi as f.name+' ('+f.extension+')' for (fi, f) in ::page.constants.format" ng-change="searchVolumes()">
            <option value="">Any</option>
          </select>
        </div>

        <div class="search-filter">
          <span>Participants' age</span><br>
          <div ui-slider="{range:true}" min="0" max="{{ageMax()}}" step="1" ng-model="fields.record_age"></div>
          <display-age value="fields.record_age[0]"></display-age>
          <display-age class="slider-right-label" value="fields.record_age[1]"></display-age>
        </div>
        <div class="search-filter" ng-repeat="(mi, v) in metrics" ng-if="metrics[mi] !== undefined" ng-init="m=page.constants.metric[mi]">
          <span class="icon trash clickable" ng-click="removeMetric(mi)"></span>
          <span ng-bind="::m.name"></span>
          <input-completer ng-if="::m.options" input-name="metric" ng-model="metrics[mi]" completer="optionsCompleter(m, $input)" min="0" submit="searchVolumes()"></input-completer>
          <input type="text" ng-if="::m.type==='text' && !m.options" ng-model="metrics[mi]" key-enter="search()"/>
          <span ng-if="::m.type==='numeric'">
            <input type="number" ng-model="metrics[mi][0]"/> &ndash; <input type="number" ng-model="metrics[mi][1]"/>
          </span>
        </div>
        <div class="search-filter additional-filters">
          <select ng-model="addMetric.id" ng-options="m.id as m.name for m in availableMetrics()" ng-change="addMetric()">
            <option value="">Additional filters by field</option>
          </select>
        </div>
        <div class="search-filter">
          <button class="small green" ng-disabled="searchForm.$pristine || searchForm.$invalid" ng-click="searchVolumes()">Apply filters</button>
          <button class="search-clear small" ng-click="page.$location.search({volume:true,q:query}) && page.$route.reload()">Clear filters</button>
        </div>
      </div>

      <div class="search-left-section" ng-if="::!!parties">
        <legend>User filters</legend>
        <ul class="search-party-types flat">
          <li class="clickable" ng-click="searchParties(page.constants.permission.EDIT, 'false')" ng-class="::{selected:fields.party_authorization == page.constants.permission.EDIT && fields.party_is_institution == 'false'}">Authorized investigators</li>
          <li class="clickable" ng-click="searchParties(page.constants.permission.ADMIN, 'true')" ng-class="::{selected:fields.party_authorization == page.constants.permission.ADMIN && fields.party_is_institution == 'true'}">Authorized institutions</li>
          <li class="clickable" ng-click="searchParties()" ng-class="::{selected:fields.party_authorization == null && fields.party_is_institution == null}">All users and groups</li>
        </ul>
      </div>
    </div>

    <div class="search-results col-desktop-12 col-tablet-6 col-mobile-6">
      <small class="status" ng-if="::!!spellcheck">
        Did you mean:
        <span ng-repeat="(w, ss) in ::spellcheck" ng-if="query.includes(w)">
          <a ng-repeat="s in ::ss" class="search-suggestion" ng-click="searchSpellcheck(w, s)"> {{::s}}</a>
        </span>?
      </small>

      <div class="search-results-section" ng-if="::!!volumes">
        <h3>
          Volumes
          <small ng-click="searchVolumes()" ng-class="::{'search-results-showall':!!parties}">
            <ng-pluralize count="::volumes.count" when="{0:'No matches',one:'One match',other:'{} matches'}"></ng-pluralize>
          </small>
        </h3>

        <ul class="row search-volume-results flat">
          <li ng-repeat="volume in ::volumes" ng-click="expandVolume(volume)">
            <h1 class="search-volume-result-title">
              <span ng-if="expanded.volume !== volume" class="icon expand clickable"></span>
              <span ng-if="expanded.volume === volume" class="icon expanded clickable"></span>
              <a ng-href="{{::volume.route()}}" ng-bind="::volume.name"></a>
            </h1>

            <div class="volume-list-investigators">
              <volume-owners></volume-owners>
            </div>

            <div class="volume-list-body" ng-bind="::volume.body | truncate:200"></div>
            <div class="search-volume-containers" ng-if="expanded.volume === volume && !!volume.excerpts">
              <mark ng-if="volume.excerpts.length < 1">No highlights in this volume.</mark>
              <volume-excerpts></volume-excerpts>
            </div>
          </li>
        </ul>
        <div class="search-results-showall" ng-if="::!!parties && volumes.count > 1" ng-click="searchVolumes()">
          Show all {{::volumes.count}}
        </div>
      </div>

      <div class="search-results-section" ng-if="::!!parties">
        <h3>
          Users
          <small ng-click="searchParties()" ng-class="::{'search-results-showall':!!volumes}">
            <ng-pluralize count="::parties.count" when="{0:'No matches',one:'One match',other:'{} matches'}"></ng-pluralize>
          </small>
        </h3>

        <div class="row search-party-results">
          <portrait class="col-desktop-5 col-tablet-4 col-mobile-6" ng-repeat="party in ::parties"></portrait>
        </div>
        <div class="search-results-showall" ng-if="::!!volumes && parties.count > 1" ng-click="searchParties()">
          Show all {{::parties.count}}
        </div>
      </div>

      <div class="search-pages" ng-if="::count">
        <div class="search-backward" ng-if="::pageCurrent != 1">
          <a class="button" ng-click="searchPage(1)">1</a> 
          <a class="button" ng-click="searchPage(pageCurrent-1)"><span class="icon backward"></span><span>Previous</span></a> 
        </div>
        <input type="number" ng-model="pageCurrent" min="1" key-enter="searchPage(pageCurrent)"/>
        <div class="search-forward" ng-if="::pageCurrent != pageCount">
          <a class="button" ng-click="searchPage(pageCurrent+1)"><span>Next</span><span class="icon forward"></span></a> 
          <a class="button" ng-click="searchPage(pageCount)" ng-bind="::pageCount"></a>
        </div>
      </div>
    </div>
    </ng-form>
  </div>
</article>
