.search-view
  margin-top 72px
  
.search-filters
  float left
  width 100%
  border red 1px solid
  border-radius b3
  font-size b2
  padding b8
  margin-bottom b2
  ul
    padding 0
    margin 0
  li:before
    content none

  select
    min-width 150px
    width auto
    background-color white
    border red 1px solid    

.search-filter
  border-bottom 1px solid neutral53
  padding-top b3
  padding-bottom b3

.search-select,
.search-input
  display inline-block
  width auto
  margin-right b2
  @media screen and (max-width: grid-mobile-width)
    width 100%

.search-suggestion
  font-weight bold
  color green

.search-results
  padding-left b1*1.5
   
.search-party-results
  padding-bottom b1
  border-top neutral dotted 1px
  .portrait
    padding b2
    
.search-volume-results
  border-top neutral dotted 1px
  padding b2
  h1
    font-size b1
    line-height b1 * 1.5
    text-indent -36px
    .icon
      width 36px
  ul
    padding-left 0
  li:before
    content none
    
.search-volume-results > li
  padding-bottom b3
  border-bottom green51 solid 3px
  margin-bottom b3
  
.search-volume-containers
  margin-top b3
  border-top neutral dotted 1px
  padding-top b3

.search-volume-container
  box-shadow box-shadow-def
  border 0
  border-top-left-radius b8
  border-top-right-radius b8
  display inline-block
  margin b3
  width 150px
  font-size 0.75

.search-volume-container-info
  margin-left b6
  margin-right b6

.search-volume-result-keywords
  font-size b2
  color neutral13
  ul > li:first-of-type:before
    content none

.search-pages
  input[type=number]
    max-width 2
    width auto
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button 
    -webkit-appearance none
    margin 0 
    
// needs to be cleaned up    
.ui-slider
  width 150px
  position relative
.ui-slider-horizontal
  height b2
  border neutral53 solid 1px 
.ui-slider-range
  height 10px
.ui-widget-content
  background-color white
  color #333 
.ui-widget-header
  background #ccc  
.ui-slider-range
  position absolute
  top 0px
  z-index 1
  font-size 0.7em
  display inline-block
  border 0
  background-color red
.ui-slider-handle
  position absolute
  border 1px neutral13 solid
  background-color neutral
  width 6px
  height 16px
  margin-left -3px
  margin-top -3px
  z-index 2

.age-filter
  input
    width 60px
  
.additional-filters
  margin-top b3
  