.search-view
  margin-top 72px
  
.search-clear
  margin-bottom b2
  
.search-left-section
  float left
  width 100%
  border gray 1px solid
  border-radius b3
  font-size b2
  padding b3
  margin-bottom b2
  ul
    padding 0
    margin 0
  li
    cursor pointer
  li:before
    content none 
  input
    margin-bottom 0
    height initial
    line-height initial

.search-filter
  border-bottom 1px dotted neutral53
  padding-top b3
  padding-bottom b3
  &:first-of-type
    border-top 3px solid neutral52
  &:last-of-type
    border-bottom 0
  .icon
    vertical-align text-top

.search-volume-types
  padding-bottom b3
  input
    margin-bottom 0
  label
    display inline
    text-transform initial
    font-weight normal  
.search-party-types
  li
    border-radius b8
    padding 0 b8
    border 1px solid white
  li:hover:not(.selected)
    link-color black
  .selected
    background-color green51

.search-input
  display inline-block
  width auto
  margin-left b2
  @media screen and (max-width: grid-mobile-width)
    width 100%

.search-suggestion
  font-weight bold
  color green

.search-results
  padding-left b1*1.5
  button
    vertical-align middle
    margin b2

.search-results-section
  margin-bottom b1

.search-results-showall
  text-align center
  font-size b2
  color green
  link-color green
  border-top 1px dotted neutral
  transition transition
  &:hover
    border-color green53
       
.search-party-results
  padding-bottom b1
  .portrait
    padding b2
    
.search-volume-results
  padding b2 b2 0 b2
  margin-bottom b2
  h1
    font-size b1
    line-height b1 * 1.5
    text-indent -36px
    .icon
      width 36px
  ul
    padding-left 0
  li:before
    content none
    
.search-volume-results > li
  padding-bottom b3
  border-bottom green51 solid 3px
  margin-bottom b3
  &:last-of-type
    border-bottom 0
  
.search-volume-containers
  margin-top b3
  border-top neutral dotted 1px
  padding-top b3
  vertical-align top

.search-volume-container
  box-shadow box-shadow-def
  border 0
  border-top-left-radius b8
  border-top-right-radius b8
  display inline-block
  margin b3
  width 150px
  font-size 0.75

.search-volume-container-info
  margin-left b6
  margin-right b6

.search-volume-result-keywords
  font-size b2
  color neutral13
  ul > li:first-of-type:before
    content none

.search-pages
  input[type=number]
    max-width 2
    width auto
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button 
    -webkit-appearance none
    margin 0 
    
.additional-filters
  margin-top b3
  