.search-view
  margin-top 72px
  
.search-filters
  float left
  border-right 12px solid #e5e5e5
  font-size b2
  select
    min-width 150px
    width auto
    background-color white
    border red 1px solid    

.search-select,
.search-input
  display inline-block
  width auto
  margin-right b2
  @media screen and (max-width: grid-mobile-width)
    width 100%

.search-suggestion
  font-weight bold
  color green

.search-results
  padding-left b1*1.5
   
.search-party-results
  padding-bottom b1
  border-top neutral dotted 1px
  .portrait
    padding b2
    
.search-volume-results
  border-top neutral dotted 1px
  padding b2
  h1
    font-size b1
    line-height b1 * 1.5
    text-indent -36px
    .icon
      width 36px
  ul
    padding-left 0
  li:before
    content none
    
.search-volume-results > li
  padding-bottom b3
  border-bottom green51 solid 3px
  margin-bottom b3
  
.search-volume-containers
  margin-top b3
  border-top neutral dotted 1px
  padding-top b3

.search-volume-container
  box-shadow box-shadow-def
  border 0
  display inline-block
  margin b3
  width 150px
  font-size 0.75

.search-volume-result-keywords
  font-size b2
  color neutral13
  ul > li:first-of-type:before
    content none
    
// needs to be cleaned up    
.ui-slider
  width 150px
  position relative
.ui-slider-horizontal
  height b2
  border neutral53 solid 1px 
.ui-slider-range
  height 10px
.ui-widget-content
  background-color white
  color #333 
.ui-widget-header
  background #ccc  
.ui-slider-range
  position absolute
  top 0px
  z-index 1
  font-size 0.7em
  display inline-block
  border 0
  background-color red
.ui-slider-handle
  position absolute
  border 1px neutral13 solid
  background-color neutral
  width 6px
  height 16px
  margin-left -3px
  margin-top -3px
  z-index 2
  
.additional-filters
  border-top 3px solid green
  