<article class="view search-view">
  <div class="wrap">
    <ng-form name="searchForm">
    <div class="row">
      <div class="col">
        <h1 class="panel-title smaller">
          <span>Search </span>
            <input class="search-input" type="search" ng-model="query" key-enter="search()"/>
          </ng-form>
        </h1>
      </div>
    </div>
    <div class="search-filters col-desktop-3 col-tablet-2 col-mobile-6">
     
      <ul ng-if="::!!parties">
        <li ng-click="searchParties(constants.permission.EDIT, 'false')" ng-class="::{b:fields.party_authorization == constants.permission.EDIT && fields.party_is_institution == 'false'}">Authorized investigators</li>
        <li ng-click="searchParties(constants.permission.ADMIN, 'true')" ng-class="::{b:fields.party_authorization == constants.permission.ADMIN && fields.party_is_institution == 'true'}">Authorized institutions</li>
        <li ng-click="searchParties()" ng-class="::{b:fields.party_authorization == null && fields.party_is_institution == null}">All users and groups</li>
      </ul>

      <div ng-if="::!!volumes">
        <div>
          <input type="checkbox" ng-model="fields.container_top" ng-true-value="'false'" ng-false-value="undefined" ng-change="searchVolumes()"/>
          Volumes with sessions
        </div>
        <div>
          <input type="checkbox" ng-model="fields.content_type" ng-true-value="'excerpt'" ng-false-value="undefined" ng-change="searchVolumes()"/>
          Volumes with highlights
        </div>

        <div class="search-filter age-filter">
          <span>Age</span><br/>
          <div ui-slider="{range:true}" min="0" max="{{ageMax()}}" step="1" ng-model="fields.record_age"></div>
          <display-age value="fields.record_age[0]"></display-age> &ndash; <display-age value="fields.record_age[1]"></display-age>
        </div>
        <div class="search-filter" ng-repeat="(mi, v) in metrics" ng-if="metrics[mi] !== null" ng-init="m=constants.metric[mi]">
          <span class="icon trash" ng-click="removeMetric(mi)"></span>
          <span ng-bind="::m.name"></span>
          <input-completer ng-if="::m.options" input-name="metric" ng-model="metrics[mi]" completer="optionsCompleter($input, m.options)" min="0"></input-completer>
          <input type="text" ng-if="::m.type==='text' && !m.options" ng-model="metrics[mi]"/>
          <span ng-if="::m.type==='numeric'">
            <input type="number" ng-model="metrics[mi][0]"/> &ndash; <input type="number" ng-model="metrics[mi][1]"/>
          </span>
        </div>
        <div class="additional-filters">
          <select ng-model="addMetric.id" ng-options="m.id as m.name for m in availableMetrics()" ng-change="addMetric()">
            <option value="">Filter by metric</option>
          </select>
        </div>

        <button ng-click="searchVolumes()">Apply Filters</button>
      </div>
    </div>

    <div class="search-results col-desktop-12 col-tablet-7 col-mobile-6">
      <small class="status" ng-if="::!!spellcheck">
        Did you mean:
        <span ng-repeat="(w, ss) in ::spellcheck" ng-if="query.includes(w)">
          <a ng-repeat="s in ::ss" class="search-suggestion" ng-click="searchSpellcheck(w, s)"> {{::s}}</a>
        </span>?
      </small>

      <div ng-if="::!!parties">
        <h3>Users</h3>
        <button ng-if="::!!volumes" ng-click="searchParties()">show all {{::parties.count}}</button>
        <small ng-if="::!volumes">{{::parties.count}} total</small>
        <div class="row search-party-results">
          <portrait class="col-desktop-5 col-tablet-4 col-mobile-6" ng-repeat="party in ::parties"></portrait>
        </div>
      </div>
      <div ng-if="::!!volumes">
        <h3>Volumes</h3>
        <button ng-if="::!!parties" ng-click="searchVolumes()">show all {{::volumes.count}}</button>
        <small ng-if="::!parties">{{::volumes.count}} total</small>
        <ul class="row search-volume-results">
          <li ng-repeat="volume in ::volumes">
            <h1 class="search-volume-result-title">
              <span ng-if="expanded.volume !== volume" ng-click="expandVolume(volume)" class="icon radio"></span>
              <span ng-if="expanded.volume === volume" ng-click="expandVolume()" class="icon radio-selected"></span>
              <a ng-href="{{::volume.route()}}" ng-bind="::volume.name"></a>
            </h1>

            <div class="volume-list-investigators">
              <volume-owners></volume-owners>
            </div>

            <div ng-if="expanded.volume !== volume" class="volume-list-body" ng-bind="::volume.body | truncate:200"></div>
            <div ng-if="expanded.volume === volume">
              <div class="volume-list-body" ng-bind-html="::volume.body | format"></div>

              <div class="search-volume-containers">
                <ul ng-if="expanded.volume === volume">
                  <li class="search-volume-container" ng-repeat="res in ::expanded.results">
                    <ul>
                      <li ng-repeat="seg in ::res.segments">
                        <a ng-href="{{::seg.route()}}">
                          <img ng-src="{{::seg.thumbRoute(240)}}"/>
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>

          </li>
        </ul>
      </div>
      <div class="search-pages" ng-if="::count">
        <span ng-if="::page != 1">
          <a ng-click="searchPage(1)">1</a> <a ng-click="searchPage(page-1)">&lt;</a> 
        </span>
        <input type="number" ng-model="page" key-enter="searchPage(page)"/>
        <span ng-if="::page != pages">
          <a ng-click="searchPage(page+1)">&gt;</a> <a ng-click="searchPage(pages)" ng-bind="::pages"></a>
        </span>
      </div>
    </div>
    </ng-form>
  </div>
</article>
