<article class="view search-view">
  <div class="wrap">
    <div class="row">
      <div class="col">
        <h1 class="panel-title smaller">
          <span>Search </span>
          <ng-form isolate>
            <input class="search-input" type="search" ng-model="searchBoxQuery" key-enter="searchBox()"/>
          </ng-form>
        </h1>
      </div>
    </div>
    <div class="search-filter col-desktop-3 col-tablet-2 col-mobile-6">
      <!--gcwork in progress-->
      <div>
        <span><b>Results</b></span><br>
        <span ng-repeat="t in typeDisplay" ng-click="partyVolBoxClick_temp(t)" ng-bind="::t"></span>
      </div>

      <div>Filter
        <span ng-repeat="s in filterDisplay" ng-click="filterBoxClick()" ng-bind="::s"></span>
      </div>
      <!--gcwork in progress-->
      <select multiple="multiple" ng-model="selectedType" ng-options="t for t in typeDisplay" ng-click="partyVolBoxClick()"></select>
      <select multiple="multiple" ng-model="selectedFilter" ng-options="s for s in filterDisplay" ng-click="filterBoxClick()"></select>
      <label>Age Range</label>
      <input type="text" id="age" style="border:0;box-shadow:none;">
      <div id="age-slider"></div>
<!--       <select>
        <option>days</option>
        <option>months</option>
        <option>years</option>
      </select> -->
    </div>
    <div class="search-results col-desktop-12 col-tablet-7 col-mobile-6">
      <p class="search-results-count">Number of results found: {{totalCount}}</p>
      <p class="search-results-count" ng-if="suggestedQuery.length > 0">
        Did you mean <a ng-click="search(suggestedQuery)">{{suggestedQuery}}</a>?
      </p>
      <div ng-if="partyCount > 0">
        <h3>Users</h3>
        <div class="row search-party-results">
          <aside class="col-desktop-5 col-tablet-4 col-mobile-6 portrait ng-cloak" ng-repeat="result in partyModels">
            <a ng-href="{{::page.router.party([result.id])}}">
              <figure class="figure-avatar" ng-class="::{inst: party.institution}">
                <img ng-src="{{::page.router.partyAvatar([result.id, size || 56], {})}}">
              </figure>
            </a>
            <div class="portrait-info">
              <a class="portrait-name" ng-href="{{::page.router.party([result.id])}}" ng-bind="::result.prename + ' ' + result.sortname"></a>
              <span class="portrait-extra" ng-bind="::result.affiliation"></span>
            </div>
          </aside>
        </div>
      </div>
      <div ng-if="volumeCount > 0">
        <h3>Volumes</h3>
        <ul class="row search-volume-results">
          <li ng-repeat="result in volumeModels">
            <h1 class="search-volume-result-title">
              <span ng-if="retrievedContainers[result.id] === undefined" ng-click="searchContainers(result)" class="icon radio"></span>
              <span ng-if="retrievedContainers[result.id] !== undefined" ng-click="clearContainers(result)" class="icon radio-selected"></span>
              <a ng-href="volume/{{result.id}}">{{result.name}}</a>
            </h1>

            <div ng-bind="formVolumeResult(result)"></div>

            <div class="search-volume-result-keywords" ng-if="result.volume_keywords_ss.length > 0">
              <span>Keywords: </span>
              <ul class="inline-block comma">
                <li ng-repeat="k in result.tags">{{k}}</li>
              </ul>
            </div>

            <div >

            <div class="search-volume-containers" ng-if="retrievedContainers[result.id] !== undefined">
              <ul ng-if="retrievedContainers[result.id].length > 0">
                <li ng-repeat="container in retrievedContainers[result.id]">
                  <a ng-href="{{::page.router.slot([container.id, container.recordId, container.segment])}}">{{container.age? container.age: "no age"}} {{container.text? container.text: 'no text'}}</a>
                </li>
              </ul>
            </div>

          </li>
        </ul>
      </div>
      <span ng-if="partyCount <= 0 && volumeCount <= 0">
        No results found.
      </span>
      <div class="search-pages">
        <span ng-if="prev">
          <a ng-if="prev" ng-click="prev()">&lt; </a>
        </span>
        <b ng-repeat="i in pageRange">
          <b ng-if="number == i">| {{i}} </b>
          <span ng-if="number != i">
            <a ng-click="goToPage(i)">| {{i}} </a>
          </span>
        </b>
        |
        <span ng-if="next">
          <a ng-click="next()"> &gt;</a>
        </span>
      </div>
    </div>
  </div>
</article>
