// we want this to be on the same line with the party name, and not eat space below it. WIP (jc)
.access-grant-form >.ng-invalid-required
  .access-grant-radioset
    background-color red51
    border-radius b8

button.access-grant-remove
  z-index 1
  vertical-align super
  text-align right

.access-grant-radioset
  position relative
  z-index 0

.access-grant-owner-order
  display block
  margin-left 40px
  height b1
  position relative
  background url('/web/icons/volume-access-rws.svg')
  background-position b8 center
  background-repeat no-repeat
  & > input
    background transparent
    width 6
    padding-left b1
    height b1
    font-size 0.7em
    line-height b1
    text-align right
    vertical-align middle
