<ng-form name="volumeAssist" class="volumeAssist">
  <fieldset>
    <div>
      <input type="checkbox" ng-model="volumeAssist.staff" ng-disabled="staff===undefined" ng-change="setStaff(volumeAssist.staff)"/>
      I want assistance blah blah. Checking this gives Staff account read/write access. May uncheck this option anytime.
    </div>
  </fieldset>

  <fieldset ng-if="staff">
    Provide some info about your data. If preexisting spreadsheet or file that contains metadata about the dataset, upload in section below.
    <textarea></textarea>
    <button class="green">Save</button>
    <button class="yellow">Revert</button>
  </fieldset>
  
  <fieldset ng-if="staff" flow-init="flowOptions"
    flow-file-added="fileAdded($file, $event)" 
    flow-file-success="fileSuccess($file)" 
    flow-file-progress="fileProgress($file)" 
    flow-file-error="fileError($file, $message)"
    mouse-drag-region>
    
    <legend>Upload files</legend>
    <div flow-drop flow-btn flow-drag-enter="dropClasses['over-zone'] = true" flow-drag-leave="dropClasses['over-zone'] = false" class="player-drop foot" ng-class="dropClasses">
      <span class="icon line add"></span>
      <span class="dropzone-message" message="asset.add-drop.new"></span>
      <span class="dropzone-message">See our <a ng-href="{{::page.router.helpFormats()}}" target="_blank">list of accepted file types</a>.</span>
    </div>
    <div>
      <strong>Uploaded Files</strong><br>
      <small>Files listed here won't show up in your spreadsheet until our staff has made contact</small>
    </div>
    <ul class="striped flat volume-assist-list">
      <li ng-repeat="asset in assets" class="volume-assist-list-item">
        <img ng-src="{{asset.icon}}" ng-class="'hint-format-'+asset.format.extension">
        <span ng-bind="::asset.name"></span>
      </li>
      <li ng-repeat="upload in uploads" class="volume-assist-list-item">
        <span ng-bind="::upload.name"></span>
        <upload-progress class="upload-progress-info" progress-value="upload.progressValue"></upload-progress>
      </li>
    </ul>

  </fieldset>
</ng-form>
