<ng-form name="volumeAssist">
  <fieldset>
    <div>
      <input type="checkbox" ng-model="volumeAssist.staff" ng-disabled="staff===undefined" ng-change="setStaff(volumeAssist.staff)"/>
      I want assistance blah blah. Checking this gives Staff account read/write access. May uncheck this option anytime.
    </div>
  </fieldset>

  <fieldset ng-if="staff" flow-init="flowOptions"
    flow-file-added="fileAdded($file, $event)" 
    flow-file-success="fileSuccess($file)" 
    flow-file-progress="fileProgress($file)" 
    flow-file-error="fileError($file, $message)"
    mouse-drag-region>
    
    <legend>Upload files</legend>
    <small>See our <a ng-href="{{::page.router.helpFormats()}}" target="_blank">list of accepted file types</a>.</small>    
    <div flow-drop flow-btn flow-drag-enter="dropClasses['over-zone'] = true" flow-drag-leave="dropClasses['over-zone'] = false" class="volume-assist-drop file-drop foot" ng-class="dropClasses">
      <span class="icon line add"></span>
      <span class="dropzone-message" message="asset.add-drop.new"></span><br>
      <span class="dropzone-message">Please upload the following if you have them.</span>

      <div class="volume-assist-drop-suggestions">
        <ul>
          <li>Videos (required)</li>
          <li>Blank consent document</li>
          <li>Procedure, protocol, or study description</li>
          <li>Spreadsheet including details about your sessions and participants</li>
        </ul>
      </div>

    </div>
    <div>
      <strong>Uploaded Files</strong><br>
      <small>Files listed here won't show up in your spreadsheet until after our staff has made contact</small>
    </div>
    <div class="volume-assist-list-container">
      <upload-progress progress-value="progress" progress-text="'Overall Progress'" class="upload-progress-info"></upload-progress>
      <ul class="striped flat volume-assist-list">
        <li ng-repeat="asset in assets" class="volume-assist-list-item">
          <img ng-src="{{asset.icon}}" ng-class="'hint-format-'+asset.format.extension">
          <span ng-bind="::asset.name" class="volume-assist-list-item-name"></span>
        </li>
        <li ng-repeat="upload in uploads" class="volume-assist-list-item">
          <span ng-bind="::upload.name"></span>
          <upload-progress class="upload-progress-info" progress-value="upload.progressValue"></upload-progress>
        </li>
      </ul>
    </div>
  </fieldset>

  <fieldset ng-if="staff">
    <legend>Contact Databrary curator</legend>
    <div ng-repeat="q in ::volumeAssist.questions">
      <div ng-bind="::q.text"></div>
      <label ng-repeat="o in ::q.options||['Yes','No']" class="line-option">
        <input type="radio" name="{{::q.name}}" ng-value="::o" ng-model="q.answer">{{::o}}
      </input>
    </div>

    <div>
      <div>Any other information you wish to provide about your data goes here.</div>
      <textarea ng-model="volumeAssist.additional"></textarea>
    </div>

    <button ng-click="volumeAssist.submit()" class="green" ng-disabled="volumeAssist.$pristine || volumeAssist.$invalid || volumeAssist.$submitted">Submit</button>

  </fieldset>
  
</ng-form>
