.volume-assist-enable
  margin-bottom 1.5

.volume-assist-list-container
  border solid 1px pale
  border-radius b3
  padding b2

.volume-assist-list
  border-top dotted 1px pale
  margin-bottom 0

.volume-assist-list-item
  padding-left b3
  overflow hidden
  img
    margin-right b8

.volume-assist-uploading > .upload-progress-info
  display inline-block
  margin-right b8

.volume-assist-drop.file-drop
  border-radius b3
.volume-assist-drop-suggestions
  text-align left
  ul
    padding b2 b1 0 b1
    margin-bottom 0

.volume-assist-item-remove
.volume-assist-uploading
  float right