.volume-assist-list-container
  border solid 1px pale
  border-radius b3
  padding b2

.volume-assist-list
  border-top dotted 1px pale
  margin-bottom 0

.volume-assist-list-item
  padding-left b3
  overflow hidden
  img
    margin-right b8
  .upload-progress-info
    float right

.volume-assist-drop
  padding b2
  border-radius b3
.volume-assist-drop-suggestions
  text-align left
  ul
    padding-left b1
  