.volumeDesign
  position relative
  ul, li
    &:before
      content none

.volumeDesign-categories
  padding-left 0
.volumeDesign-categories > li
  border-bottom 3px green51 solid
  padding b4 0
.volumeDesign-categories > li
  padding-left 24px
  text-indent -24px

.volumeDesign-fields
  padding-left 0px
.volumeDesign-fields > li
  padding-left 48px
  text-indent -48px
  &:nth-child(odd)
    background-color neutral51
  .icon
    vertical-align middle
    width 28px
.volumeDesign-description
  font-size b2
  
.something
  position absolute
  top 0
  right 0
  left 50%
  overflow-y scroll
  
  border 1px solid black
  
.design-section
  width 45%