.volumeDesign
  ul, li
    &:before
      content none

.volumeDesign-categories > li
  border-bottom 3px green51 solid

.volumeDesign-fields > li
  padding-left b8
  &:nth-child(odd)
    background-color neutral51
    
.volumeDesign-field-description
  font-size b2