<ng-form name="volumeDesign" class="volumeDesign">
  <div class="row">
    <div class="volume-design-section col-desktop-7 col-tablet-5 col-mobile-6">
      <div class="volume-design-header">
        <strong>Categories</strong>
        <small>Choose the categories or groupings by which you wish to label and organize your data</small>
      </div>
      <ul class="volume-design-categories">
        <li ng-repeat="c in ::page.constants.categories track by c.id" ng-class="{selected: c === selected, beforeSelected: selected === page.constants.categories[$index+1]}" ng-click="select(c.id)">
          <input type="checkbox" ng-model="volumeDesign.category[c.id]" ng-change="change(c.id)" ng-click="stop($event)">
          <span ng-bind="::c.name" class="b"></span>: 
          <span class="volume-design-description" ng-bind="::c.description"></span>
          <div ng-if="volume.metrics[c.id]">
            <span class="small" >Selected fields: </span> 
            <ul class="comma inline">
              <li class="strong" ng-repeat="m in volume.metrics[c.id]" ng-bind="::page.constants.metric[m].name"></li>
            </ul>
          </div>
          <small ng-if="c === selected" class="hide-desktop hide-tablet reminder">Scroll down the page to edit {{c.name}} fields</small>
        </li>
      </ul>
    </div>
    <div class="volume-design-section col-desktop-7 col-tablet-4 col-mobile-6">
      <div class="volume-design-float">
        <div class="volume-design-header" ng-class="{selected: !!selected}">
          <strong ng-bind="selected ? selected.name : 'Fields'" ng-class="{b: volumeDesign.category[selected.id]}"></strong>
          <small class="reminder" ng-if="selected && !volumeDesign.category[selected.id]">Enable this category on the left to change fields</small>
          <small class="reminder" ng-if="!selected">Select a category name to edit its fields</small> 
          <a ng-if="volumeDesign.category[selected.id]" class="button mini" ng-click="activateStep(step.data)">manage list</a>
        </div>
        <ul class="volume-design-fields" ng-class="{'disabled':!!selected && !volumeDesign.category[selected.id] || !selected}">
          <li ng-repeat="m in ::page.constants.metrics track by m.id" ng-if="::m.name != 'indicator'">
            <input type="checkbox" ng-disabled="!volumeDesign.category[selected.id] || selected.ident.includes(m.id)" ng-model="volumeDesign.metric[m.id]" ng-change="change(selected.id, m.id)">
            <span class="icon release" ng-class="::page.constants.release[m.release]" tooltip="'release.'+page.constants.release[m.release]+'.metric' | message"></span>
            <span ng-bind="::m.name" class="b"></span>: 
            <span class="volume-design-description" ng-bind="::m.description"></span> 
            <span class="volume-design-description" ng-if="::m.assumed">(assumed "{{::m.assumed}}" by default)</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-form>
