.volumeDesign
  position relative

.volume-design-categories > li, .volume-design-fields > li
  line-height 20px
  padding-height b8

.volume-design-categories
  padding-left 0
  .selected
    background-color orange52
    @media screen and (min-width: grid-mobile-width)
      padding-right b1
      margin-right -b1  
  .beforeSelected
    @media screen and (min-width:grid-mobile-width)
      padding-right b1
      margin-right -b1

.volume-design-categories > li
  border-bottom 3px green51 solid
  padding b4 0
  padding-left 23px
  text-indent -20px
  &:hover:not(.selected)
    background-color neutral51
  div
    text-indent 0px
    margin-top b3
    font-size 0.85
    ul
      color orange13

.volume-design-fields
  padding-left 0px
  margin-bottom 0
  &.disabled
    color neutral12

.volume-design-fields > li
  padding-left 23px
  text-indent -20px

  &:nth-child(odd)
    background-color neutral51
  .icon
    vertical-align middle
    width 28px
    float right
  
.volume-design-float
  border 1px solid black
  
.volume-design-section
  padding 0 b2
  margin 0

.volume-design-header
  border-bottom 1px dotted neutral
  padding b3 b8
  a.button
    margin-left b8
    line-height b2
    padding-height b8
    vertical-align text-top
  small
    display block
  &.selected
    background-color orange52