<ng-form name="volumeDesign" class="volume-design">
  <ul>
    <li ng-repeat="c in ::page.constants.categories track by c.id">
      <input type="checkbox" ng-model="volumeDesign[c.id].on" ng-change="volumeDesign.change(c.id)">
      <span ng-bind="::c.name" class="b"></span>: 
      <span ng-bind="::c.description"></span>
      <ul ng-if="volumeDesign[c.id].on">
        <li ng-repeat="m in ::page.constants.metrics track by m.id" ng-if="::m.name != 'indicator'">
          <input type="checkbox" ng-disabled="::c.ident.includes(m.id)" ng-model="volumeDesign[c.id][m.id]" ng-change="volumeDesign.change(c.id, m.id)">
          <span ng-if="m.release != null" class="icon release" ng-class="::page.constants.release[m.release]"></span>
          <span ng-bind="::m.name" class="b"></span>: 
          <span ng-bind="::m.description"></span> 
          <span ng-if="::m.assumed">(assumed "{{::m.assumed}}" by default)</span>
        </li>
      </ul>
    </li>
  </ul>
</ng-form>
