<ng-form name="volumeEditAccessForm">
  <button ng-click="volumeEditAccessForm.saveAll()" class="green" ng-disabled="volumeEditAccessForm.$pristine || volumeEditAccessForm.$invalid || volumeEditAccessForm.$submitted">Save</button>
  <button ng-click="volumeEditAccessForm.resetAll()" ng-disabled="volumeEditAccessForm.$pristine || volumeEditAccessForm.$submitted" class="foot">Revert</button>

  <fieldset class="sub-bottom radio-set volume-edit-access-radioset" ng-disabled="!page.models.Login.checkAuthorization(page.permission.EDIT)" ng-form="accessPresetForm">
    <legend message="access.preset.legend"></legend>
    <div class="col message message-yellow message-content" ng-if="::!page.models.Login.checkAuthorization(page.permission.EDIT)" message="access.preset.restricted"></div>
    <div id="preset" ng-repeat="perms in page.constants.accessPreset track by $index">
      <input type="radio" ng-model="volumeEditAccessForm.preset" name="access-preset" ng-value="$index">
      <label class="option">
        <span class="icon" ng-class="::'access'+$index"></span> 
        <span message="access.preset.title{{::$index}}"></span>: <span message="access.preset.select{{::$index}}"></span>
      </label>
    </div>
  </fieldset>

    <div class="foot-15x i" ng-if="volume.accessStaff">
      <span ng-bind="'access.'+page.constants.permission[volume.accessStaff] | message:'Databrary staff'"></span>. 
      You can change this on the <span message="wizard.volume-edit-assist.name"></span> tab.
    </div>

  <fieldset>
    <legend message="access.grant.legend"></legend>
    <scroll-float>
      <fieldset class="clean" ng-class="scrollFloating? '' : 'skinny-top clean foot'">
        <div class="col-desktop-5 col-tablet-4 col-mobile-3" ng-show="scrollFloating">
          <button ng-click="volumeEditAccessForm.saveAll()" class="green" ng-disabled="volumeEditAccessForm.$pristine || volumeEditAccessForm.$invalid || volumeEditAccessForm.$submitted">Save</button>
          <button ng-click="volumeEditAccessForm.resetAll()" ng-disabled="volumeEditAccessForm.$pristine || volumeEditAccessForm.$submitted">Revert</button>
        </div>
        <access-search-form ng-class="scrollFloating ? 'col-desktop-6 col-tablet-5 col-mobile-3' : 'col-desktop-14 col-tablet-8 col-mobile-6'" ></access-search-form>
      </fieldset>
    </scroll-float>
    <article ng-repeat="access in volumeEditAccessForm.data | orderBy:['-individual','sort'] track by access.party.id" ng-if="::access.party.id != 308" id="access-{{::access.party.id}}" class="access-grant cf anchor">
      <div class="row">
        <access-grant-form></access-grant-form>
      </div>
    </article>
  </fieldset>

</ng-form>
