<ng-form name="volumeEditLinksForm">
  <scroll-float>
    <fieldset class="clean">
      <div class="col">
        <button ng-click="volumeEditLinksForm.save()" class="green" message="save" ng-disabled="volumeEditLinksForm.$pristine || volumeEditLinksForm.$invalid || volumeEditLinksForm.$submitted"></button>
        <button ng-click="volumeEditLinksForm.resetAll()" class="neutral" message="revert" ng-disabled="volumeEditLinksForm.$pristine"></button>
      </div>
    </fieldset>
  </scroll-float>
  <div class="link-label">
    <span class="col-desktop-7 col-tablet-4 col-mobile-3" message="link.head.title"></span>
    <span class="col-desktop-8 col-tablet-5 col-mobile-3" message="link.url.title"></span>
  </div>
  <fieldset class="link-field clean skinny" ng-repeat="link in volumeEditLinksForm.data" ng-show="!link.removed">
    <validator class="col-desktop-7 col-tablet-4 col-mobile-3" name="{{$index}}.head">
      <input type="text" name="{{$index}}.head" ng-model="link.head" placeholder="{{::'link.head' | message}}">
    </validator>
    <validator class="col-desktop-7 col-tablet-4 col-mobile-3" name="{{$index}}.url">
      <input type="text" name="{{$index}}.url" ng-model="link.url" placeholder="{{::'link.url' | message}}" ng-pattern="/^((doi:)?10\.[\.0-9]+|ftp:/|http:/|https:/)//" ng-change="volumeEditLinksForm.change()">
    </validator>
    <button class="mini icon trash" ng-if="$index < volumeEditLinksForm.data.length-1" ng-click="volumeEditLinksForm.remove(link)"></button>
  </fieldset>
</ng-form>
