<ng-form name="volumeEditLinksForm">
  <scroll-float>
    <fieldset class="clean">
      <div class="col">
        <button ng-click="volumeEditLinksForm.save()" class="green" ng-disabled="(volumeEditLinksForm.$pristine && !removed) || volumeEditLinksForm.$invalid || volumeEditLinksForm.$submitted">Save</button>
        <button ng-click="volumeEditLinksForm.resetAll()" class="neutral" ng-disabled="volumeEditLinksForm.$pristine && !removed">Revert</button>
      </div>
    </fieldset>
  </scroll-float>
  <div class="link-label row">
    <span class="col-desktop-7 col-tablet-4 col-mobile-3">Enter title</span>
    <span class="col-desktop-8 col-tablet-5 col-mobile-3">Enter link (URL or DOI)</span>
  </div>
  <fieldset class="row link-field clean skinny" ng-repeat="link in volumeEditLinksForm.data" ng-if="!link.removed">
    <validator class="col-desktop-7 col-tablet-4 col-mobile-3" name="{{::$index}}.head">
      <input type="text" name="{{::$index}}.head" ng-model="link.head" placeholder="Title/description">
    </validator>
    <validator class="col-desktop-7 col-tablet-4 col-mobile-2" name="{{::$index}}.url">
      <input type="text" name="{{::$index}}.url" ng-model="link.url" placeholder="URL or DOI" ng-pattern="/^((doi:|hdl:)?10\.[\.0-9]+|ftp:/|http:/|https:/)//" ng-change="volumeEditLinksForm.change()">
    </validator>
    <button class="col-desktop-1 col-tablet-1 col-mobile-1 mini icon trash" ng-if="$index < volumeEditLinksForm.data.length-1" ng-click="volumeEditLinksForm.remove(link, $index)"></button>
  </fieldset>
</ng-form>
