.volume-filters
  min-height 2

.volume-filter
  display inline-block
  border-radius b8
  border 1px solid gray
  background-color orange51
  width max-content
  margin-width b2
  padding-left b4
  height 1.5

.volume-filter-label
  padding-right b4

select.volume-filter-part //necessary to override select styles
.volume-filter-part
.volume-filter-part > input
.volume-filter-part > select
  width auto
  position relative
  height 100%
  vertical-align baseline
  border-radius 0
  border-top 0
  border-bottom 0
  margin 0
  padding-height 0
  box-shadow none
  display inline-block

.volume-filter-part >input-completer
  display inline-block

button.volume-filter-remove
  vertical-align bottom
  border 0
  padding 0
  margin 0

button.volume-filter-remove
button.volume-filter-remove:hover
  size 34px


