<div class="volume-filters">
  <b>Filter by </b>
  <div class="volume-filter" ng-repeat="filt in filter.list">
    <span class="volume-filter-label">{{::filt.category.name}} {{::filt.metric.name}}</span>
    <select class="volume-filter-part select-clear-style" ng-model="filt.op" ng-change="filter.change()">
      <option value="">any</option>
      <option ng-if="::filt.metric.type==='top'" value="true">materials</option>
      <option ng-if="::filt.metric.type==='top'" value="false">sessions</option>
      <option ng-if="::filt.metric.type==='void'" value="true">{{::filt.category.name}}</option>
      <option ng-if="::filt.metric.type==='void'" value="false">{{::filt.category.not||'Not '+filt.category.name}}</option>
      <option ng-if="::filt.metric.type!=='top' && filt.metric.type!=='void'" value="eq">is</option>
      <option ng-if="::filt.metric.type!=='top' && filt.metric.type!=='void'" value="ne">is not</option>
      <option ng-if="::filt.metric.type==='text' && !filt.metric.options" value="contains">contains</option>
      <option ng-if="::filt.metric.type==='date'" value="ge">after</option>
      <option ng-if="::filt.metric.type==='date'" value="le">before</option>
      <option ng-if="::filt.metric.type==='numeric' || filt.metric.type==='age' || filt.metric.type==='release'" value="ge">at least</option>
      <option ng-if="::filt.metric.type==='numeric' || filt.metric.type==='age' || filt.metric.type==='release'" value="le">at most</option>
    </select>
    <span ng-if="filt.op" ng-switch="::filt.metric.type">
      <input-completer ng-switch-when="text" ng-if="::filt.metric.options" ng-model="filt.value" completer="filterCompleter(filt, $input)" min="0" submit="filter.change()" class="volume-filter-part"></input-completer>
      <input ng-switch-when="text" ng-if="::!filt.metric.options" type="text" ng-model="filt.value" key-enter="filter.change()" class="volume-filter-part"/>
      <input ng-switch-when="date" input-date ng-model="filt.value" key-enter="filter.change()" placeholder="YYYY-MM-DD" class="volume-filter-part"/>
      <input ng-switch-when="numeric" type="number" ng-model="filt.value" key-enter="filter.change()" class="volume-filter-part"/>
      <input-age ng-switch-when="age" ng-model="filt.value" key-enter="filter.change()" class="volume-filter-part"></input-age>
      <select ng-switch-when="release" ng-model="filt.value" ng-options="c as 'release.'+page.constants.release[c]+'.title' | message for c in ::page.constants.releases" ng-change="filter.change()" class="volume-filter-part select-no-style"></select>
    </span>
    <button ng-click="filter.remove($index)" class="volume-filter-remove icon trash neutral" ></button>
  </div>
  <small ng-if="filter.list.length <= 1" class="reminder">Click anywhere in the spreadsheet to add filters</small>
</div>
