<div class="wizard-step" ng-if="active">
  <header class="wizard-step-header">
    <span>Your volume is {{100*meter | number:0}}% complete!</span>
  </header>
  <div class="wizard-step-instructions" message="wizard.volume-edit-meter.description" message-html></div>
  <div>
    <div class="volume-meter-category volume-meter-done col-desktop-15 col-tablet-9 col-mobile-6" ng-click="goto(metrics.name.link)">
      <div class="icon done-not">
        <span class="icon done"></span>
      </div>
      <h5>{{::metrics.name.title}}</h5>
      <span ng-if="::!metrics.name.done">: {{::metrics.name.help}}</span>
    </div>

    <div class="volume-meter-category col-desktop-15 col-tablet-9 col-mobile-6" ng-class="{'volume-meter-done': !!metrics.description.done && !!metrics.citation.done && !!metrics.keywords.done}">
      <div class="icon done-not">
        <span ng-if="::!!metrics.description.done && !!metrics.citation.done && !!metrics.keywords.done" class="icon done"></span>
      </div>
      <h5>Add more volume information</h5>
      <p>Make it easier for others to find your volume.</p>
      <ul ng-if="::!metrics.description.done || !metrics.citation.done || !metrics.keywords.done">
        <li ng-class="metrics.description.done? 'volume-meter-done' : 'clickable'">
          <span ng-if="::!!metrics.description.done">
            <span class="icon done"></span>
            {{::metrics.description.title}}
          </span>
          <span ng-click="goto(metrics.description.link)" ng-if="::!metrics.description.done">{{::metrics.description.help}}</span>
        </li>
        <li ng-class="metrics.citation.done? 'volume-meter-done' : 'clickable'">
          <span ng-if="::!!metrics.citation.done">
            <span class="icon done"></span>
            {{::metrics.citation.title}}
          </span>
          <span ng-click="goto(metrics.citation.link)" ng-if="::!metrics.citation.done">{{::metrics.citation.help}}</span>
        </li>  
        <li ng-class="metrics.keywords.done? 'volume-meter-done' : 'clickable'">
          <span ng-if="::!!metrics.keywords.done">
            <span class="icon done"></span>
            {{::metrics.keywords.title}}
          </span>
          <span ng-click="goto(metrics.keywords.link)" ng-if="::!metrics.keywords.done">{{::metrics.keywords.help}}</span>
        </li>
      </ul>      
    </div>

    <div class="volume-meter-category col-desktop-15 col-tablet-9 col-mobile-6" ng-class="{'volume-meter-done': !!metrics.design.done && !!metrics.session.done && !!metrics.record.done}">
      <div class="icon done-not">
        <span ng-if="::!!metrics.design.done && !!metrics.session.done && !!metrics.record.done" class="icon done"></span>
      </div> 
      <h5>Study design and data spreadsheet.</h5>
      <p>Describe your study design, then start creating and labeling sessions in the data spreadsheet.</p>
      <ul ng-if="::!metrics.design.done || !metrics.session.done || !metrics.record.done">
        <li ng-class="metrics.design.done? 'volume-meter-done' : 'clickable'">
          <span ng-if="::!!metrics.design.done">
            <span class="icon done"></span> 
            {{::metrics.design.title}}
          </span>
          <span ng-click="goto(metrics.design.link)" ng-if="::!metrics.design.done">{{::metrics.design.help}}</span>
        </li> 
        <li ng-class="metrics.session.done? 'volume-meter-done' : 'clickable'">
          <span ng-if="::!!metrics.session.done">
            <span class="icon done"></span>
            {{::metrics.session.title}}
          </span>
          <span ng-click="goto(metrics.session.link)" ng-if="::!metrics.session.done">{{::metrics.session.help}}<br>
          <small>Click 'add folder' and select 'session' in the folder type dropdown on the left of the spreadsheet</small>
          </span>        
        </li>  
        <li ng-class="metrics.record.done? 'volume-meter-done' : 'clickable'">
          <span ng-if="::!!metrics.record.done">
            <span class="icon done"></span>
            {{::metrics.record.title}}
          </span>
          <span ng-click="goto(metrics.record.link)" ng-if="::!metrics.record.done">{{::metrics.record.help}}</span>
        </li>   
      </ul>          
    </div>

    <div class="volume-meter-category col-desktop-15 col-tablet-9 col-mobile-6" ng-click="goto(metrics.asset.link)" ng-class="metrics.asset.done? 'volume-meter-done' : 'clickable'">
      <div class="icon done-not">
        <span ng-if="::!!metrics.asset.done" class="icon done"></span>        
      </div> 
      <h5>{{::metrics.asset.title}}</h5>
      <p ng-if="::!metrics.asset.done">{{::metrics.asset.help}}</p>
    </div>

    <div class="volume-meter-category col-desktop-15 col-tablet-9 col-mobile-6" ng-class="{'volume-meter-done': !!metrics.excerpts.done && !!metrics.asset.done}">
      <div class="icon done-not">
        <span ng-if="::!!metrics.excerpts.done && !!metrics.thumbnail.done" class="icon done"></span>
      </div>
      <h5>Highlight data representative of your study</h5>
      <p ng-if="::!metrics.excerpts.done || !metrics.thumbnail.done">
        Highlighting data or files makes it easier for others to understand what your volume is about.
        <span ng-if="::!metrics.asset.done" class="reminder"><br>Note: You need to have uploaded at least one file before you can select a highlight.</span>
      </p>
      <ul ng-if="::!metrics.excerpts.done || !metrics.thumbnail.done">
        <li ng-class="{'volume-meter-done':metrics.excerpts.done}">
          <span ng-if="::!!metrics.excerpts.done">
            <span class="icon done"></span>
            {{::metrics.excerpts.title}}
          </span>
          <span ng-click="goto(metrics.excerpts.link)" ng-if="::!metrics.excerpts.done">
            {{::metrics.excerpts.help}}<br>
            <small>
              <b>Clicking will take you to the data spreadsheet<br></b>
              Step 1: Select the file you wish to highlight from the 'file' tab. You will be taken to the file viewer. <br>Step 2: If you selected a video, you may additionally choose to highlight a specific segment by drag-and-select along the timeline. <br>Step 3: Click the 'highlight on volume' button, and choose your sharing level in the dropdown that appears.
            </small>
          </span>
        </li>
        <li ng-class="{'volume-meter-done':metrics.thumbnail.done}">
          <span ng-if="::!!metrics.thumbnail.done">
            <span class="icon done"></span>
            {{::metrics.thumbnail.title}}
          </span>
          <span ng-click="goto(metrics.thumbnail.link)" ng-if="::!metrics.thumbnail.done">
            {{::metrics.thumbnail.help}}<br>
            <small>
              <b>Clicking will take you to the data spreadsheet. </b>Select 'Public' in the sharing level dropdown, and the highlight will automatically be used as your volume thumbnail.
            </small>
          </span>
        </li>
      </ul>      
    </div>

    <div class="volume-meter-category col-desktop-15 col-tablet-9 col-mobile-6" ng-click="goto(metrics.share.link)"  ng-class="metrics.share.done? 'volume-meter-done' : 'clickable'">
      <div class="icon done-not">
        <span ng-if="::!!metrics.share.done" class="icon done"></span>
      </div> 
      <h5>{{::metrics.share.title}}</h5>
      <p ng-if="::!metrics.share.done">{{::metrics.share.help}}</p>
    </div>    
  </div>
</div>
