

<div class="wrap">
  <div class="row">
    <div class="col">
      <hgroup class="session-header">
        <a class="view-link" ng-href="{{::slot.volume.route()}}" ng-bind="::slot.volume.alias || slot.volume.name"></a>
        <h1 class="view-context">Activity</h1>
        <h1 class="view-title">
          {{::slot.displayName}}
          <span ng-if="::slot.date" ng-bind="::' (' + slot.date + ')'"></span>
          <span ng-if="::slot.release != null" class="release icon" ng-class="::[page.constants.release[slot.release], 'hint-release-'+page.constants.release[slot.release]]"></span>
          <div class="view-title-buttons inline-block">
            <a ng-href="{{::slot.route()}}" class="white button icon view-icon"></a>
            <a ng-href="{{::slot.editRoute()}}" class="white button icon edit"></a>
            <a href="" class="green selected button mini view-title-text">Session history</a>
          </div>
        </h1>
      </hgroup>
      <activity></activity>
    </div>
  </div>
</div>