<div class="download-popup">
  <span ng-click="close()" class="button icon close"></span>

  <div class="popup-file-info">
    <h4>
      <span>Files from </span>
      <a ng-if="::!slot" ng-href="{{::volume.route()}}" ng-bind="::volume.name"></a>
      <a ng-if="::slot" ng-href="{{::slot.route()}}">
        <span ng-bind="::slot.container.displayName"></span>
        <span ng-if="::slot.container.date" ng-bind="::' (' + slot.container.date + ')'"></span>
      </a>
    </h4>
  </div>

  <div class="popup-file-info" ng-if="::!!assetTotal">
    <ng-pluralize count="::containers.length" when="{0:'',one:'1 session | ',other:'{} sessions | '}"></ng-pluralize>
    <span>Download size: &#126;{{::assetSize}} GB | {{::assetDownload}} out of {{::assetTotal}} files available for download.</span>
  </div>

  <div class="popup-cite" ng-if="::volume">
    <cite-volume></cite-volume>
  </div>

  <p ng-if="::assetDownload && assetTotal > assetDownload" message="download.zip.prompt.partial"></p>
  <p ng-if="::!assetDownload && !!assetTotal" message="download.zip.prompt.noaccess"></p>
  <p ng-if="::!assetTotal" message="download.zip.prompt.empty"></p>

  <div class="popup-classification release-legend">
    <ul class="flat">
      <li><b>File release levels:</b></li>
      <li ng-repeat="c in ::page.constants.releases">
        <span class="icon release" ng-class="::page.constants.release[c]"></span>
        <span class="popup-classification-title" message="release.{{::page.constants.release[c]}}.title"></span>: 
        <span message="release.{{::page.constants.release[c]}}.description"></span>
      </li>
    </ul>
  </div>
  <p ng-if="::filtered"><s message="download.zip.partial"></s></p>
  <p><s message="download.warning"></s></p>
  <a ng-if="::assetDownload" ng-href="{{::slot ? slot.zipRoute() : volume.zipRoute(page.$location.search())}}" class="button green" target="_self">
    <span class="download icon"></span><span>Download</span>
  </a>

  <div>
    <ul class="download-sessions flat" ng-if="::!!assetTotal">
      <li><b>List of files:</b></li>
      <li ng-repeat="c in ::containers">
        <span ng-if="::!slot" ng-bind="::' [ID ' + c.id + '] '"></span>
        <span ng-if="::!slot" ng-bind="::(c.top ? 'Materials ' : 'Session ') + c.date + ' ' + c.name + ': '"></span> 

        <ul class="download-files flat">
          <li ng-if="filesInSession[c.id] === 0" class="download-no-permission">No files</li>
          <li ng-repeat="a in ::c.assets" ng-class="{'download-no-permission': !a.checkPermission(page.constants.permission.VIEW)}">
            <span class="icon release" ng-class="::page.constants.release[a.classification === undefined ? c.release : a.classification]"></span>
            <img class="icon" ng-src="{{::a.icon}}" hint="format-{{::a.format.extension}}">
            <span ng-bind="::a.id"></span>
            <span ng-if="::!!a.name" ng-bind="'-' + a.name"></span>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div ng-if="::assetDownload > 9">
    <p ng-if="::filtered"><s message="download.zip.partial"></s></p>
    <p><s message="download.warning"></s></p>
    <a ng-href="{{::slot ? slot.zipRoute() : volume.zipRoute(page.$location.search())}}" class="button green" target="_self">
      <span class="download icon"></span><span>Download</span>
    </a>
  </div>
</div>
