<article class="view party-view">
  <ng-include src="'party/overview.html'"></ng-include>
  <panel id="panel_browser" panel-title="volumes.title" fold ng-if="::party.volumes || page.models.Login.isAuthorized()">  
    
    <div>
      <div class="col-desktop-15 col-tablet-9 col-mobile-6" ng-repeat="volume in party.volumes">
        <span ng-click="clickVolumes(volume)">{{volume.title}}</span>
      </div>
    </div>


    <div>
      <div class="col-desktop-15 col-tablet-9 col-mobile-6" ng-repeat="user in users">
        <span ng-click="clickUser(user)">{{user.first_name}} {{user.last_name}}</span>
      </div>
    </div>

    <section id="related-volumes" class="col-desktop-8 col-tablet-6 col-mobile-6">
      <div ng-if="::volumes.individual.length > 0">
        <h3>Data owner volumes</h3>
        <ul>
          <li ng-repeat="vi in volumes.individual" ng-bind="vi.alias"></li>
        </ul>
      </div>
      <div ng-if="::volumes.collaborator.length > 0">
        <h3>Collaborator volumes</h3>
        <ul>
          <li ng-repeat="vc in volumes.collaborator" ng-bind="vc.alias"></li>
        </ul>  
      </div>
      <div ng-repeat="vin in volumes.inherited">    
        <h3>
          <span>Inherited volumes from </span>
          <span ng-bind="::vin['p'].party.name"></span>
          <span ng-bind="'('+ page.constants.permission[vin['p'].party.member] + ')'"></span>
        </h3>
        <ul>
          <li ng-repeat="vin_ in vin['v']" ng-bind="vin_.alias"></li>
        </ul>
      </div>         
    </section>

    <section id="related-people" class="col-desktop-7 col-tablet-3 col-mobile-6">
      <h3>Sponsors</h3>
      <h3>Lab/Group members</h3>
      <h3>Non-group affiliates &amp; other collaborators</h3>
    </section>

<!--     <party-data></party-data> -->  
  </panel>
  <panel id="panel-network" edit-link="{{::party.editRoute('apply')}}" panel-title="network.title" fold>
    <party-network></party-network>
  </panel>
</article>
