.party-edit-profile-avatar-figure
  size 56px
  margin-top b4

.party-edit-profile-avatar-options
  div
    background-color neutral51
    border-radius b8
    margin-bottom b4
    padding-left 6px
    border 1px solid neutral53
    overflow hidden

  input
    width auto
    display inline-block
    background-color neutral51
    line-height 16px
    padding-bottom 0px
    padding-top 0px
    margin-bottom b4
    margin-top b4