<div id="sponsors" class="network-parents-region">
  <h4 class="view-title smaller" message="auth.parents.title"></h4>
  <p class="view-subtitle" message="auth.parents.subtitle"></p>

  <article id="network-parent-{{::parent.id}}" class="permission-auth cf" ng-repeat="parent in party.parents">
    <div class="row">
      <div class="network-avatar col-desktop-1 col-tablet-1 col-mobile-1">
        <figure class="figure-avatar" fill ng-class="::{inst: parent.party.institution}">
          <img ng-src="{{::parent.party.avatarRoute(54)}}">
        </figure>
      </div>

      <div class="col-desktop-14 col-tablet-8 col-mobile-5">
        <div class="row">
          <div class="permission-heading col-desktop-15 col-tablet-9 col-mobile-6">
            <a ng-href="{{::parent.party.route()}}" class="permission-auth-username">{{parent.party.name}}</a>
            <span class="permission-auth-email" ng-if="::!!parent.party.email" ng-bind="::parent.party.email"></span>
          </div>

        </div>
      </div>
    </div>
  </article>

  <fieldset class="clean" ng-if="::page.models.Login.isLoggedIn()">
    <button ng-if="::isAdmin" ng-click="page.$location.url(party.editRoute('apply'))" message="network.apply.local"></button>
    <button ng-if="::isParent" ng-click="page.$location.url(page.models.Login.user.editRoute('grant') + '#auth-' + party.id)" ng-bind="::'network.apply.foreign' | message:party.name"></button>
    <button ng-if="::!(party.institution || isRelation)" ng-click="grant()" ng-bind="::'network.apply.foreign' | message:party.name"></button>
  </fieldset>
</div>

<div id="affiliates" class="network-children-region">
  <h4 class="view-title smaller" message="auth.children.title"></h4>
  <p class="view-subtitle" message="auth.children.subtitle"></p>

  <article id="network-child-{{::child.id}}" class="permission-auth cf" ng-repeat="child in party.children">
    <div class="row">
      <div class="col-desktop-1 col-tablet-1 col-mobile-1">
        <figure class="figure-avatar" ng-class="::{inst: child.party.institution}">
          <img ng-src="{{::child.party.avatarRoute(54)}}">
        </figure>
      </div>

      <div class="col-desktop-14 col-tablet-8 col-mobile-5">
        <div class="row">
          <div class="permission-heading col-desktop-14 col-tablet-8 col-mobile-5">
            <a ng-href="{{::child.party.route()}}" class="permission-auth-username" ng-bind="::child.party.name"></a>
            <span class="permission-auth-email" ng-if="::!!child.party.email" ng-bind="::child.party.email"></span>
          </div>
        </div>
      </div>
    </div>
  </article>

  <fieldset class="clean" ng-if="::page.models.Login.isLoggedIn()">
    <button ng-if="::isAdmin" ng-click="page.$location.url(party.editRoute('grant'))" message="network.grant.local"></button>
    <button ng-if="::!isRelation" ng-click="apply()" ng-bind="::'network.grant.foreign' | message:party.name"></button>
  </fieldset>
</div>
