.panel-network
  legend
    margin-top -b1
    background-color white
    margin-bottom b2
  .network-avatar
    float left
    padding-left 1.3%
    padding-right b8
  .permission-heading
    position relative

.network-parents-region, .network-children-region
  border-top 1px solid pale
  margin-top b1
  margin-bottom 3
