<div id="sponsors" class="network-parents-region">
  <legend class="view-title" message="auth.parents.title"></legend>
  <p message="auth.parents.subtitle" ng-if="partyParentsCount > 0"></p>

  <article id="network-parent-{{::parent.id}}" class="cf" ng-repeat="parent in party.parents" ng-if="::!isAdmin || isAdmin && (parent.member || parent.site)">
    <div class="col">
      <div class="network-avatar col-desktop-1 col-tablet-1 col-mobile-1">
        <figure class="figure-avatar" fill ng-class="::{inst: parent.party.institution}">
          <img ng-src="{{::parent.party.avatarRoute(54)}}">
        </figure>
      </div>

      <div class="col-desktop-14 col-tablet-8 col-mobile-5">
        <div class="col">
          <div class="permission-heading col-desktop-15 col-tablet-9 col-mobile-6">
            <a ng-href="{{::parent.party.route()}}" class="permission-auth-username">{{parent.party.name}}</a><wbr>
            <span class="permission-auth-email" ng-if="::!!parent.party.email" ng-bind="::parent.party.email"></span>
          </div>

        </div>
      </div>
    </div>
  </article>

  <fieldset class="skinny clean" ng-if="::page.models.Login.isLoggedIn()">
    <a class="button" ng-if="::isAdmin" ng-href="{{::party.editRoute('apply')}}" message="network.apply.local"></a>
    <a class="button" ng-if="::isParent || !(party.institution || isRelation)" ng-href="{{::page.models.Login.user.editRoute('grant', party)}}" ng-bind="::'network.apply.foreign' | message:party.name"></a>
  </fieldset>
</div>

<div id="affiliates" class="network-children-region">
  <legend class="view-title" message="auth.children.title"></legend>
  <p message="auth.children.subtitle" ng-if="partyChildrenCount > 0"></p>

  <article id="network-child-{{::child.id}}" class="cf" ng-repeat="child in party.children">
    <div class="col">
      <div class="col-desktop-1 col-tablet-1 col-mobile-1">
        <figure class="figure-avatar" ng-class="::{inst: child.party.institution}">
          <img ng-src="{{::child.party.avatarRoute(54)}}">
        </figure>
      </div>

      <div class="col-desktop-14 col-tablet-8 col-mobile-5">
        <div class="col">
          <div class="permission-heading col-desktop-14 col-tablet-8 col-mobile-5">
            <a ng-href="{{::child.party.route()}}" class="permission-auth-username" ng-bind="::child.party.name"></a><wbr>
            <span class="permission-auth-email" ng-if="::!!child.party.email" ng-bind="::child.party.email"></span>
          </div>
        </div>
      </div>
    </div>
  </article>

  <fieldset class="skinny clean" ng-if="::page.models.Login.isLoggedIn()">
    <a class="button" ng-if="::isAdmin" ng-href="{{::party.editRoute('grant')}}" message="network.grant.local"></a>
    <a class="button" ng-if="::!isRelation" ng-href="{{::page.models.Login.user.editRoute('apply', party)}}" ng-bind="::'network.grant.foreign' | message:party.name"></a>
  </fieldset>
</div>
