.profile-highlight
  background-color orange52
.profile-affiliate-highlight
  background-color orange51
.profile-volumes, .profile-parties
  padding-top b1
  @media screen and (max-width:grid-mobile-width)
    border-top 1px solid pale
    margin-top b1
    margin-bottom b2
  legend
    margin-top -b1*1.5
    background-color white
    margin-left -b2
    padding-left b2
  .button.icon, .button.icon:hover
    width 16px
    height 16px
    padding 0
  ul
    padding-left 0
    padding-right 0
  li
    overflow hidden
    .profile-hover-link
      margin-left b3
  li:hover
    .profile-hover-link
      display inline-block
      visibility visible
  a
    overflow hidden
  .button:not(.icon)
    line-height 12px
    padding-top b8
    padding-bottom b8

.profile-volumes
  ul
    margin-top b1
  li
    border-bottom 1px solid green51
    padding b4 b3

.profile-volume-sort
  text-align right

.profile-parties
  @media screen and (min-width: grid-mobile-width+1)
    border-left b2 solid neutral52
  .date-time
    margin-left b3
  ul
    margin 0
    padding b2 0
    .profile-additional
      margin-left b1
  li
    padding b8 0 0 b6
    margin 0

.profile-section
  border-bottom b8 solid green51

.profile-section-header
  font-line f1
  border-bottom 1px dotted neutral
  .icon, .button, .button:hover
    margin 0 0 0 8px
    vertical-align baseline

.profile-subsection-header
  margin-top b4
  line-height b2
  .icon
    size b2

.profile-additional
  line-height b2
  margin-bottom b8

.profile-left-icons
  display inline-block
  position relative
  margin 0 b3 0 0
  width 16px
.profile-right-icons
  float right
  position relative
  background-size contain
  height 19px
  .icon
    margin 0 b3
.profile-link
  display inline
  overflow hidden
  vertical-align text-top
  line-height 22px

.profile-hover-link:not(.profile-hover-link-show)
  display none
  visibility hidden