.volumeSelected, .userSelected
  background-color orange51

.dashboard-people
  border-left b2 solid neutral52

.dashboard-volumes
  ul
    font-size b1
    line-height b1*1.5
    margin-top b1
  li
    border-bottom b8 solid green51
    padding b4 b2

.dashboard-people
  ul
    border-bottom b8 solid green51
    margin b2 0
    padding b2
  li
    padding 0

.dashboard-volumes, .dashboard-people
  padding-top b1
  ul
    padding-left 0
  li:before
    content none
  
.dashboard-section-header
  font-line f1
  color green
  font-weight bold