.profile-highlight
  background-color orange51

.profile-volumes
  ul
    // font-size b1
    // line-height b1*1.5
    margin-top b1
  li
    border-bottom b8 solid green51
    padding b4 b2
    
.profile-volumes-icons
  float right
  position relative
  background-size contain
  vertical-align middle
  margin 0 b3

.profile-parties
  border-left b2 solid neutral52
  .permission-auth-expiration
    font-size b2
    color neutral
    margin-left b3
  ul
    border-bottom b8 solid green51
    margin b2 0
    padding b2
  li
    padding 0

.profile-volumes, .profile-parties
  padding-top b1
  ul
    padding-left 0
  li:before
    content none
  
.profile-section-header
  font-line f1
  font-weight bold

.profile-left-icon
  display inline-block
  position relative
  margin 0 b3 0 0
  width 16px
.profile-section-link
  position relative
  left 0px
  right 25px
  overflow hidden
