<article class="view party-view">
  <ng-include src="'party/overview.html'"></ng-include>
  <panel id="panel_browser" panel-title="profile.dashboard.title" fold ng-if="::party.volumes || page.models.Login.isAuthorized()" class="dashboard">  

    <section id="dashboard-volumes" class="dashboard-volumes col-desktop-10 col-tablet-6 col-mobile-6">
      <div ng-if="::volumes.individual.length > 0">
        <span class="dashboard-section-header">Data owner volumes</span>
        <ul>
          <li ng-class="vi.isSelected" ng-repeat="vi in volumes.individual">
            <span ng-if="vi.isSelected" ng-click="unselectAll()" class="icon close dashboard-section-icons"></span>
            <span ng-if="!vi.isSelected" ng-click="clickVolume(vi)" class="icon add dashboard-section-icons"></span>
            <a ng-href="{{::vi.route()}}" ng-bind="vi.alias? vi.alias : vi.name"></a>

            <span class="icon dashboard-volumes-icons" ng-class="{'access1': vi.accessPreset !== 0}"></span>
            <span class="icon dashboard-volumes-icons" ng-class="vi.network"></span>
          </li>
        </ul>
      </div>
      <div ng-if="::volumes.collaborator.length > 0">
        <span class="dashboard-section-header">Collaborator volumes</span>
        <ul>
          <li ng-class="vc.isSelected" ng-repeat="vc in volumes.collaborator">
            <span ng-if="vc.isSelected" ng-click="unselectAll()" class="icon close dashboard-section-icons"></span>
            <span ng-if="!vc.isSelected" ng-click="clickVolume(vc)" class="icon add dashboard-section-icons"></span>
            <a ng-href="{{::vc.route()}}" ng-bind="vc.alias ? vc.alias : vc.name"></a>

            <span class="icon dashboard-volumes-icons" ng-class="{'access1': vc.accessPreset !== 0}"></span>
            <span class="icon dashboard-volumes-icons" ng-class="vi.network"></span>
          </li>
        </ul>  
      </div>
      <div ng-if="::vin.v.length > 0" ng-repeat="vin in volumes.inherited">    
        <span class="dashboard-section-header">
          <span>Inherited volumes from </span>
          <span ng-bind="::vin['p'].party.name"></span>
          <span ng-bind="::' (' + ('auth.member.'+page.constants.permission[vin['p'].member]+'.title' | message) + ')'"></span>
        </span>
        <ul>
          <li ng-class="vin_.isSelected" ng-repeat="vin_ in vin.v">
            <span ng-if="vin_.isSelected" ng-click="unselectAll()" class="icon close dashboard-section-icons"></span>
            <span ng-if="!vin_.isSelected" ng-click="clickVolume(vin_)" class="icon add dashboard-section-icons"></span>
            <a ng-href="{{::vin_.route()}}" ng-bind="vin_.alias? vin_.alias : vin_.name"></a>

            <span class="icon dashboard-volumes-icons" ng-class="{'access1': vin_.accessPreset !== 0}"></span>         
          </li>
        </ul>
      </div>         
    </section>

    <section id="dashboard-people" class="dashboard-people col-desktop-5 col-tablet-3 col-mobile-6">
      <div ng-if="users.sponsors.length > 0">
        <span class="dashboard-section-header">Sponsors </span>
        <span class="icon info"></span>
        <ul>
          <li ng-class="sponsor.isSelected" ng-repeat="sponsor in users.sponsors">
            <span ng-if="sponsor.isSelected" ng-click="unselectAll()" class="icon close dashboard-section-icons"></span>
            <span ng-if="!sponsor.isSelected" ng-click="clickUser(sponsor)" class="icon add  dashboard-section-icons"></span>
            <a ng-href="{{::sponsor.party.route()}}" ng-bind="sponsor.party.name"></a>
            <div class="permission-auth-pending" ng-if="::!(sponsor.member || sponsor.site)" message="auth.pending"></div>
            <span ng-if="::(sponsor.member || sponsor.site)" class="permission-auth-expiration" ng-bind-html="::sponsor.expires | date:'longDate'"></span>
          </li>
        </ul>
      </div>
      <div ng-if="users.databrary.length > 0">
        <span class="dashboard-section-header">Databrary Affiliates </span>
        <span class="icon info"></span>
        <ul>
          <li ng-class="member.isSelected" ng-repeat="member in users.databrary">
            <span ng-if="member.isSelected" ng-click="unselectAll()" class="icon close  dashboard-section-icons"></span>
            <span ng-if="!member.isSelected" ng-click="clickUser(member)" class="icon add  dashboard-section-icons"></span>
            <a ng-href="{{::member.party.route()}}" ng-bind="member.party.name"></a>
            <div ng-if="::!member.site" class="permission-auth-pending" message="auth.pending"></div>
            <span ng-if="::(member.member || member.site)" class="permission-auth-expiration" ng-bind-html="::member.expires | date:'longDate'"></span>
          </li>
        </ul>
      </div>
      <div ng-if="users.labOnly.length > 0">
        <span class="dashboard-section-header">Lab Affiliates </span>
        <span class="icon info"></span>
        <ul>
          <li ng-class="nonmember.isSelected" ng-repeat="nonmember in users.labOnly">
            <span ng-if="nonmember.isSelected" ng-click="unselectAll()" class="icon close  dashboard-section-icons"></span>
            <span ng-if="!nonmember.isSelected" ng-click="clickUser(nonmember)" class="icon add  dashboard-section-icons"></span>
            <a ng-href="{{::nonmember.party.route()}}" ng-bind="nonmember.party.name"></a>
            <div ng-if="::!nonmember.member" class="permission-auth-pending" message="auth.pending"></div> 
            <span ng-if="::(nonmember.member || nonmember.site)" class="permission-auth-expiration" ng-bind-html="::nonmember.expires | date:'longDate'"></span>        
          </li>
        </ul>
      </div>
      <div ng-if="users.otherCollaborators.length > 0">
        <span class="dashboard-section-header">Volume Collaborators </span>
        <span class="icon info"></span>
        <ul>
          <li ng-class="collaber.isSelected" ng-repeat="collaber in users.otherCollaborators">
            <span ng-if="collaber.isSelected" ng-click="unselectAll()" class="icon close  dashboard-section-icons"></span>
            <span ng-if="!collaber.isSelected" ng-click="clickUser(collaber)" class="icon add  dashboard-section-icons"></span>  
            <a ng-href="{{::collaber.party.route()}}" ng-bind="collaber.party.name"></a>         
          </li>
        </ul>
      </div>
    </section>
  </panel>
  <panel id="panel-network" edit-link="{{::party.editRoute('apply')}}" panel-title="network.title" fold>
    <party-network></party-network>
  </panel>
</article>
