// styles

.cf
  clearfix()

.block
  display block

.inline-block
  display inline-block

// big stuff

*
*:after
*:before
  box-sizing border-box

  &:focus
    outline 0

body
  font-line 1
  color black
  background white

// right-margin
.right-margin:not(:last-child)
  margin-right b2

// top-margin
.top-2
  margin-top 0.5

// bottom-margin
.foot-15x
  margin-bottom 1.5

.foot
  margin-bottom 1

.foot-2
  margin-bottom 0.5

.foot-cut
  *:last-child
    margin-bottom 0
