// STYLES

.icon
  display inline-block
  position relative
  background-color transparent
  background-repeat no-repeat
  background-position center
  width b23+1px
  height b23
  transition transition
  &.volume
    size b1
  &.record,
  &.session
    height b23
    width b23+b8
  &.release
    min-width 28px

  &.activity
    background-image url('/web/icons/activity.svg')

  &.bullet
    background-image url('/web/icons/bullet.png')

  &.contact
    background-image url('/web/icons/contact.png')

  &.close
    background-image url('/web/icons/close.png')

  &.list
    background-image url('/web/icons/list.svg')
    background-size contain
    &:hover
      opacity 0.4

  &.release.PRIVATE
    background-image url('/web/icons/release/private.svg')

  &.release.SHARED
    background-image url('/web/icons/release/shared.svg')

  &.release.EXCERPTS
    background-image url('/web/icons/release/excerpts.svg')

  &.release.PUBLIC
    background-image url('/web/icons/release/public.svg')

  &.session
    background-image url('/web/icons/session.png')
    &:hover
      opacity 0.4

  &.volume
    background-image url('/web/icons/study.png')

  &.download
    background-image url('/web/icons/download.png')
    &:not(.button)
      margin-right b3
    &:hover:not(.button)
      opacity 0.4

  &.edit
  &.edit:hover
    background-image url('/web/icons/edit.svg')
    background-size contain

  &.view-icon
  &.view-icon:hover
    background-image url('/web/icons/view.svg')
    background-size contain

  &.info
    background-image url('/web/icons/info.svg')
    background-size contain

  &.jump
    background-image url('/web/icons/jump.png')

  &.network
    background-image url('/web/icons/network.svg')

  &.play
    background-image url('/web/icons/play.png')

  &.pause
    background-image url('/web/icons/pause.png')

  &.add
    background-image url('/web/icons/add.png')
    &:hover
      opacity 0.4

  &.tag
    background-image url('/web/icons/tag.svg')

  &.trash
    background-image url('/web/icons/close_c.png')
    cursor pointer
  &.trash2
    background-image url('/web/icons/trash.png')
    cursor pointer
    &:hover:not(.button)
      opacity 0.4

  &.paste
    background-image url('/web/icons/paste.png')
    cursor pointer

  &.radio,&.radio:hover,&.radio-selected
    background-size contain
  &.radio
    background-image url('/web/icons/radio-open.svg')
    transition transition
  &.radio:hover
    background-image url('/web/icons/radio-hover.svg')
  &.radio-selected
    background-image url('/web/icons/radio-selected.svg')
    transition transition
  &.radio-selected:hover
    opacity 0.4

  &.resize
    background-image url('/web/icons/resize.svg')
    background-size contain
    &:hover
      opacity 0.4

  &.settings
    background-image url('/web/icons/settings.svg')
    background-size contain

  &.zoomin
    background-image url('/web/icons/zoomin.svg')
    cursor pointer
    background-size 16px
  &.zoomout
    background-image url('/web/icons/zoomout.svg')
    cursor pointer
    background-size 16px

  &.user-access
    background-size contain
  &.user-access.READ
    background-image url('/web/icons/volume-access-r.svg')
  &.user-access.EDIT
    background-image url('/web/icons/volume-access-rw.svg')
  &.user-access.ADMIN
    background-image url('/web/icons/volume-access-rws.svg')
  &.user-access.PUBLIC
    background-image url('/web/icons/volume-access-public.svg')
  &.user-access.SHARED
    background-image url('/web/icons/volume-access-shared.svg')

  &.site.READ
    background-image url('/web/images/logo/databrary-small.svg')
    background-position-x 0
        
  &.access0
    background-image url('/web/icons/private.svg')
  &.access1
    background-image url('/web/icons/public.svg')

  &.line
    height b1
    background-position 0px 4px
    &.add
      width b1
    &.session
      width b1+b8

.sort
  background-position right
  background-repeat no-repeat

  &.sortable
    background-image url('/web/icons/sortable.png')

  &.sort-asc
    background-image url('/web/icons/sort-asc.png')

  &.sort-desc
    background-image url('/web/icons/sort-desc.png')

th
  &.add
    background-repeat no-repeat
    background-image url('/web/icons/add.png')
    transition transition

    &:hover
      opacity 0.4

