.asset-display
  background-color pitch
  img
  video
    transition none
    display block
    max-width 100%
    max-height 480px
    width auto
    margin-left auto
    margin-right auto
    margin-bottom 0
  audio
    width 100%
    margin-height b4

.no-preview
  background-color white
  padding-top f3
  padding-bottom f3
  text-align center
  span
    color red
    &:before
      content "- "
    &:after
      content " -"
