<div class="asset-display" ng-switch="::asset.pending !== undefined ? 'pending' : (readable ? asset.format.type : 'noperm')">
  <div class="no-preview" ng-switch-when="pending">
    <span ng-if="::asset.pending" message="asset.display.pending"></span>
    <span ng-if="::!asset.pending" message="asset.display.failed"></span>
  </div>

  <div class="no-preview" ng-switch-when="noperm">
    <span message="asset.display.nopermission"></span>
  </div>

  <div ng-switch-when="image">
    <img ng-src="{{::asset.downloadRoute(true)}}">
  </div>

  <div ng-switch-when="video" ng-class="{'no-preview':!asset.duration}">
    <span ng-if="::!asset.duration" message="asset.untranscoded"></span>
    <video controls preload="metadata" seek="clip" height="480">
      <source ng-src="{{::asset.downloadRoute(true)}}" type="{{::asset.format.mimetype}}">
    </video>
  </div>

  <div ng-switch-when="audio" ng-class="{'no-preview':!asset.duration}">
    <span ng-if="::!asset.duration" message="asset.untranscoded"></span>
    <audio controls preload="metadata" seek="clip">
      <source ng-src="{{::asset.downloadRoute(true)}}" type="{{::asset.format.mimetype}}">
    </audio>
  </div>

  <div ng-switch-when="application">
    <pdf-viewer asset="::asset">
      <div class="no-preview">
        <span message="asset.display.unavailable"></span>
      </div>
    </pdf-viewer>
  </div>

  <div class="no-preview" ng-switch-default>
    <span message="asset.display.unavailable"></span>
  </div>
</div>
